<div>
  <img *ngIf="currentUser?.profileImage" [src]="currentUser?.profileImage" alt="Profile" class="dashboard-avatar" />
  <h2>Welcome, {{ currentUser?.name }}</h2>
  <p>Election Ends In: {{ countdown }}</p>
  <p *ngIf="isElectionEnded">Election has ended</p>

  <div *ngIf="!hasVoted && !isElectionEnded">
    <p>You have not voted yet</p>
    <button type="button" routerLink="/candidates">Go to Vote</button>
  </div>

  <div *ngIf="hasVoted || isElectionEnded">
    <p *ngIf="hasVoted">You have already voted</p>
    <p *ngIf="isElectionEnded && !hasVoted">Election has ended</p>
    <button type="button" [disabled]="true">Go to Vote</button>
  </div>
</div>
