<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <div *ngIf="isInvalid('email')">
      Invalid email
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="isInvalid('password')">
      Password is required
    </div>
  </div>

  <label class="captcha-check">
    <input type="checkbox" [(ngModel)]="isHumanChecked" [ngModelOptions]="{ standalone: true }" />
    <span>I am not a robot</span>
  </label>

  <div *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <button type="submit">Login</button>
</form>
